html {
    font-size: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh; 
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero-text h1 {
    font-size: 3.3rem;
    margin-bottom: 20px;
}

.hero-text p {
    max-width: 450px;
    margin: 0 auto;
    font-size: 1.1rem;
    height: 60px;
}

a {
    color: white;
    text-decoration: none;
}

.sticky {
	background-color: black;
    transition: 1.5s;
}

.main-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.main-nav li {
    display: inline;
    padding: 20px;
}

.main-nav a:hover {
    color: rgb(255, 170, 11);
}

ul {
    padding: 0;
}


.container {
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

#avatar {
    width: 200px;
    border-radius: 50%;
}

.socials {
    display: flex;
    justify-content: center;
}

.socials li {
    font-size: 1.8rem;
    display: inline;
    padding: 10px;
}

.socials a:hover {
    color: rgb(255, 170, 11);
    transition: 0.2s;
}

#hero,#about,#projects {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
}

#about, #projects {
    padding-top: 50px;
}

#hero {
    padding-top: 250px;
    /*background-image: url("../images/background-video.mp4");*/
}

#herovideo {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}