.active {
    color: white;
}

.form-select, label {
    margin-top: 10px;
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid rgb(187, 187, 187);
    border-radius: 100%;
    border-top: 6px solid rgb(75, 75, 75);
    animation: spin 1s infinite linear;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    visibility: hidden;
}

@keyframes spin {
    from {
        transform: rotate(0deg);;
    }
    to {
        transform: rotate(360deg);
    }
}